.header {
    background-color: #1F2937;
    font-family: 'Times New Roman', Times, serif;
    color: white;
    
}
.logo{
    font-size: 24px;
}

h2{
    font-size: 48px;
    font-weight: 900
}
.header p{
    font-size: 18px;
}
.headings{
    display: flex;
    justify-content: space-evenly;
}
.list{
    display: flex;
    flex-direction: row;
    gap: 10px;
    list-style: none;
}

.headerContainer{
    display: flex;
    
    justify-content: space-between;
    align-items: center;
}